@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"),
    url("flaticon.woff") format("woff"),
    url("flaticon.ttf") format("truetype"),
    url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
}
.flaticon-feather26:before {
    content: "\e000";
}
.flaticon-github7:before {
    content: "\e001";
}
.flaticon-js1:before {
    content: "\e002";
}
.flaticon-lightning24:before {
    content: "\e003";
}
.flaticon-web40:before {
    content: "\e004";
}
i {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 80px;
}





*, *:after, *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
}

html, body {
    margin:0;
    padding:0;
    color: #333333;
    background: #F0F0F0;
}

div {
    position: relative;
}
.vunit-pre {
    color: white;
    font-size: 10px;
    display: none;
    white-space: normal;
    background: black;
    position: absolute;
    font-family: 'courier new', courier, monospace;
    top: 5px;
    left: 5px;
    margin: 0;
    opacity: .7;
    font-weight: normal;
    z-index: 9999;
}

h1, h2 {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.white {
    background: white;
    float: left;
}

header {
    overflow: hidden;
    position: relative;
}
p {
    line-height: 1.6;
}
.features p {
    margin: 20px auto;
    text-align: center;
    max-width: 250px;
    padding: 0 5px;
}


.debug .vunit {
    box-shadow: inset 0px 0px 0px 1px fuchsia;
}
.debug pre {
    display: inline-block;
}
.debug * {

}

.press-me {
    background: #333333;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}
.press-me:hover {
    background: #666666;
}

@media (max-width: 600px) {
    .vunit {
        transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -ms-transition: all .5s;
    }
    .press-me {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }
}


.features {
    background: white;
    overflow: hidden;
}
.features .vunit {
    float: left;
}

.embed {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

.img1 {
    background: url(http://41.media.tumblr.com/0aa47ca33d3e29e43e90211b782e9fc8/tumblr_ngy7usnwPo1tomxvuo6_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img2 {
    background: url(http://40.media.tumblr.com/18a4e82c6b52f42a8e02bc77e02d6156/tumblr_ng9q6igjWM1tomxvuo7_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img3 {
    background: url(http://41.media.tumblr.com/53f9c611b37971fb1e274162563ddea7/tumblr_n4e8tjQkyv1tomxvuo9_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img4 {
    background: url(http://41.media.tumblr.com/9abc1dcb129521f7b7dbcef729f235d9/tumblr_n4e9h7r1bv1tomxvuo1_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img5 {
    background: url(http://40.media.tumblr.com/038c4956afadbb7a5dafd5621e493023/tumblr_n4e8jxX55w1tomxvuo6_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img6 {
    background: url(http://41.media.tumblr.com/c273daba85e7a4b33c844735b92d9ead/tumblr_n4e8cznbcL1tomxvuo5_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img7 {
    background: url(http://41.media.tumblr.com/844bc240c85865cfdcf06fb9cfa11194/tumblr_n3oc1f6GKM1tomxvuo3_1280.jpg) no-repeat center center;
    background-size: cover;
}
.img8 {
    background: url(http://40.media.tumblr.com/7ce4aca550a4804183f216222d8f14e8/tumblr_n3mcekmXJV1tomxvuo10_1280.jpg) no-repeat center center;
    background-size: cover;
}
.gallery {
    overflow: hidden;
}
.gallery div {
    float: left;
}
.works {
    background: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px
}

li {
    line-height: 2;
}
